[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
appnope = "*"
atomicwrites = "*"
attrs = "*"
backcall = "*"
certifi = "*"
chardet = "*"
decorator = "*"
"flake8" = "*"
"flake8-commas" = "*"
"flake8-isort" = "*"
idna = "*"
ipython = "*"
isort = "*"
jedi = "*"
mccabe = "*"
more-itertools = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
pluggy = "*"
ptyprocess = "*"
py = "*"
pycodestyle = "*"
pyflakes = "*"
pytest = "*"
requests-mock = "*"
simplegeneric = "*"
simplejson = "*"
six = "*"
testfixtures = "*"
traitlets = "*"
"urllib3" = "*"
wcwidth = "*"
ipython_genutils = "*"
prompt_toolkit = "*"
Pygments = "*"

[requires]
python_version = "3.5"
